<!--views/partials/navbar.ejs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Site</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">API ́s</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/ubicacion">Geolocalización</a>
                    <a class="dropdown-item" href="#">Redes sociales</a>
                    <a class="dropdown-item" href="#">Ecommerce</a>
                    <a class="dropdown-item" href="#">Streaming</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Otra</a>
      </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/acercade">Acerca de</a>
    </li>

    
    <fb:login-button 
    scope="public_profile,email"
    onlogin="checkLoginState();">
    </fb:login-button>
  </ul>

  
  

