
<html>
    <head>
      <title>Acerca de</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
  <body>
      <h1>Acerca de <b> Raúl Osvaldo Zamarripa Contreras</b></h1>
  
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Cosas que me gustan hacer
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ver peliculas y series</li>
          <li class="list-group-item">Convivir con mis amigos</li>
          <li class="list-group-item">Convivir con mi familia</li>
          <li class="list-group-item">Jugar videojuegos</li>
        </ul>
      </div>
  </body>
  </html>
