<!DOCTYPE html>
<html lang="es" >
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/navbar'); %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Bienvenido a NodeJS & Express</h1>
        <p class="lead">Este es un ejemplo basico</p>
        <p>Mi primier sitio basico con Express</p>
      </div>
    </div>
    <%- include('partials/footer'); %>
     
    <%- include('partials/script'); %>
  </body>
</html>
